<!doctype html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="{% static 'dashboard/dashboard.css' %}">
</head>
<body>
    <h1>Dashboard de Vendas</h1>

    <div class="grid">
        <div class="card">
            <h2>Produtos mais vendidos</h2>
            <canvas id="topProductsChart"></canvas>
        </div>


            <div class="card">
                <h2>Vendas por vendedor</h2>
                <canvas id="sellerChart"></canvas>
            </div>


            <div class="card">
                <h2>Status das vendas</h2>
                <canvas id="statusChart"></canvas>
            </div>

            <div class="card">
                <h2>Vendas por mês</h2>
                <canvas id="monthChart"></canvas>
            </div>

            <div class="card">
                <h2>Produtos no estoque</h2>
                <canvas id="productStockChart"></canvas>
            </div>

            <div class="card">
                <h2>Vendas por região</h2>
                <canvas id="regionChart"></canvas>
            </div>

            <div class="card">
                <h2>Vendas por cliente</h2>
                <canvas id="customerChart"></canvas>
            </div>

    </div>
    <script>

        const topProducts = {{ top_products|safe }};
        const salesBySeller = {{ sales_by_seller|safe }};
        const salesByStatus = {{ sales_by_status|safe }};
        const salesByMonth = {{ sales_by_month|safe }};
        const productStock = {{ product_stock|safe }};
        const salesByRegion = {{ sales_by_region|safe }};
        const salesByCustomer = {{ sales_by_customer|safe }};


    </script>

    <script src="{% static 'dashboard/charts.js' %}"></script>



</body>
</html>