{% extends 'sales_panel/sales_panel.html ' %}
{% block content %}
<div class="global-container">
  <div class="circle blur enterprise-logo">
    <p class="text">L</p>
  </div>
  <nav class="side-nav">
    <div class="square blur" id="edit-button">{% include 'sales_panel/svg_layout/edit.svg' %}</div>
    {% block buttons %} {% endblock %}
    <form action="{% url 'sales_panel:logout' %}" method="post">
      {% csrf_token %}
      <button class="square blur" id="logout" type="submit"> {% include 'sales_panel/svg_layout/Log out.svg' %}
      </button>
    </form>
  </nav>
  <div class="top-menu">
    <div class="search-bar blur">
      <input type="text" placeholder="Search something here" class="search text">
      <div class="icon">{% include 'sales_panel/svg_layout/Search.svg' %}</div>
    </div>

    <div class="user-container">
      <div class="user-photo circle">{% block user_photo %} {% endblock %}</div>
      <p class="username text"> {{ request.user }} </p>
      <p class="role text">
        {% if request.user.is_superuser %}
        Administrador
        {% elif request.user.is_staff and not request.user.seller_profile %}
        Equipe
        {% elif request.user.seller_profile %}
        Vendedor
        {% else %}
        Undefined
        {% endif %}
      </p>
    </div>
  </div>
  {% block view_container %}
  <div class="view-container"></div>
  {% endblock %}
</div>
{% endblock %}