<form style="display: none;">{% csrf_token %}</form>
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu</title>
  <link rel="stylesheet" href="{% static 'sales_panel/css/menu.css' %}">
  <link rel="stylesheet" href="{% static 'sales_panel/css/view.css' %}">
  <link rel="stylesheet" href="{% static 'customers/css/form_customer_base.css' %}">
  <link rel="stylesheet" href="{% static 'customers/css/form_customer.css' %}">
  <!-- FONTE PERSONALIZADA -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
    rel="stylesheet">
</head>

<body>
  {% block content %} {% endblock %}
  <script src="{% static 'sales_panel/js/view.js' %}"></script>
</body>

</html>