<header class="top-menu">
  <form class="search-bar blur" method="GET" action="">
    <input id='searchbar' type="text" name="q" class="search text" value="{{ request.GET.q|default:'' }}"
      placeholder="Search something here">
    <button class="icon" type="submit">{% include 'sales_panel/svg_layout/Search.svg' %}</button>
  </form>

  <div class="user-container">
    {% if request.user.is_authenticated %}

    {% if request.user.seller_profile and request.user.seller_profile.image %}
    <img src="{{ request.user.seller_profile.image.url }}" alt="Foto do Vendedor" class="user-photo circle">

    {% elif request.user.admin and request.user.admin.image %}
    <img src="{{ request.user.admin.image.url }}" alt="Foto do Admin" class="user-photo circle">

    {% else %}
    <img src="/static/images/default-avatar.png" alt="Foto Padrão" class="user-photo circle">
    {% endif %}

    {% endif %}
    <p class="username text"> {{ request.user }} </p>
    <p class="role text">
      {% if request.user.is_superuser %}
      Administrador
      {% elif request.user.is_staff and not request.user.seller_profile %}
      Equipe
      {% elif request.user.seller_profile %}
      Vendedor
      {% else %}
      Undefined
      {% endif %}
    </p>
  </div>
</header>