{% extends 'sales_panel/menu.html' %}
{% block view_container %}
<div class="view-container">
  <div class="list-products border square"></div>
  <div class="order border square secao-recibo">
    <div class="border square card">
      <!-- ORDERED ITEMS  -->
      <div class="container-order border square line-card">
        <p class="text">Ordered Items<span id="amount"></span></p>
        <div class="ordered-items"> </div>
      </div>
      <!-- PAYMENT SUMMERY -->
      <div class="container-summery border square line-card">
        <p class="text">Payment Summery</p>
        <div class="payment-summery">
          <div class="line">
            <p class="subtotal text">Subtotal</p>
            <p class="subtotal-value text" data-subtotal="0"></p>
          </div>
          <!-- <div class="line">
            <p class="tax text">Tax</p>
            <p class="tax-value text">R$5,00</p>
          </div> -->
        </div>
      </div>
      <!-- TOTAL  -->
      <div class="container-total border square line-card">
        <div class="line">
          <p class="total text">Total</p>
          <p class="total-value text"></p>
        </div>
      </div>
    </div>

    <!-- FORMULÁRIO DE ENVIO  -->
    <form action="" id="form-order">
      <button class="btn-order print-receipt square" id="btn-receipt" type="button">
        <div class="circle blur"> {% include 'sales_panel/svg_layout/Printer.svg' %} </div>
        <p class="text">Print Receipt</p>
      </button>

      <input type="hidden" id="id-cliente-compra" value="">

      <button class="btn-order place-order square" id="btn-place-order" type="submit">
        <div class="circle blur"> {% include 'sales_panel/svg_layout/check_box.svg' %} </div>
        <p class="text">Place Order</p>
      </button>
    </form>
  </div>
</div>

{% include 'customers/form_customer.html' %}

{% endblock %}
