<div class="view-container">
  <div class="list-products border square"></div>
  <div class="order border square">
    <div class="border square card">
      <!-- ORDERED ITEMS  -->
      <div class="container-order border square line-card">
        <p class="text">Ordered Items<span id="amount"></span></p>
        <div class="ordered-items ">
          <div class="line">
            <p class="item-name text">2xitem1</p>
            <p class="item-price text">R$20,00</p>
          </div>
        </div>
      </div>
      <!-- PAYMENT SUMMERY -->
      <div class="container-summery border square line-card">
        <p class="text">Payment Summery</p>
        <div class="payment-summery">
          <div class="line">
            <p class="subtotal text">Subtotal</p>
            <p class="subtotal-value text">R$20,00</p>
          </div>
          <div class="line">
            <p class="tax text">Tax</p>
            <p class="tax-value text">R$5,00</p>
          </div>
        </div>
      </div>
      <!-- TOTAL  -->
      <div class="container-total border square line-card">
        <div class="line">
          <p class="total text">Total</p>
          <p class="total-value text">R$25,00</p>
        </div>
      </div>
    </div>
  </div>
</div>