/* VARIÁVEIS CSS */
:root {
  --add-btn: #16972A;
  --print-place: rgba(29, 38, 119, 0.5);
}

/* ESITLOS GERAIS */

.view-container .square {
  aspect-ratio: 0;
}

.border {
  border: var(--sc-color) 2px solid;
}

.card {
  background-color: var(--sc-color);
}

.line-card {
  padding: 10px;
}

.line {
  display: flex;
  justify-content: space-between;
}

/* ESTILOS ESPECIFICOS */

.view-container {
  padding: 10px;
  display: grid;
  place-items: center;
  grid-template-columns: 70% 30%;
  grid-template-rows: 100%;
}

/* LISTA PRODUTOS */
.list-products {
  grid-row: 1/3;
  grid-column: 1/2;
  width: 95%;
  height: 95%;
  display: grid;
  place-items: center;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 250px;
  padding: 20px;
}

.list-products .product-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list-products .product-card .product-image {
  width: 90%;
  height: 50%;
}

.list-products .product-name {
  margin: 5px 0 0 0;
}

.list-products .product-card .price-add {
  width: 90%;
  height: 12%;
  display: flex;
  justify-content: left;
  align-items: end;
}

.add-btn {
  height: 100%;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  font-size: 20px;
  background-color: var(--add-btn);
  cursor: pointer;
}

.list-products .text {
  width: 90%;
}



/* "CARRINHO"  */
.order {
  width: 95%;
  height: 95%;
  padding: 15px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 1fr;
}

.order .card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  height: min-content;
}

.order .card .text {
  font-weight: bolder;
}

.order .line-card .line {
  width: 100%;
  color: var(--text-color);
  opacity: 0.5;
}

.ordered-items {
  max-height: 275px;
}

.ordered-items, .payment-summery {
  padding: 0 5px;
}

.container-total .line {
  opacity: 1 !important;
}

#form-order {
  display: flex;
  gap: 10px;
  height: min-content;
  align-self: flex-end;
  justify-self: center;
}

#form-order .btn-order {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--sc-color);
  border: 0px;
  padding: 10px;
  gap: 5px;
  cursor: pointer;
  height: 10%;
}

#form-order .btn-order .text {
  width: 50%;
  text-align: left;
  font-weight: bold;
  pointer-events: none;
}

#form-order .btn-order .circle {
  background-color: var(--print-place);
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
  height: 40px;
  padding: 5px;
  pointer-events: none;
}

#form-order .btn-order svg {
  aspect-ratio: 1/1;
  width: 23px;
  pointer-events: none;
}